:root {
  --primary-color: #007bff;
  --primary-color-dark: #0056b3;
  --text-color: #000;
  --text-secondary: #555;
  --card-bg: #fff;
  --section-bg: #f8f8f8;
  --alt-section-bg: #eaeaea;
}

body.dark-mode {
  --primary-color: #007bff;
  --primary-color-dark: #0056b3;
  --text-color: #fff;
  --text-secondary: #aaa;
  --card-bg: #1e1e1e;
  --section-bg: #121212;
  --alt-section-bg: #1b1b1b;
}
